*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sarabun', sans-serif;
    /* font-size: 20px; */
}

:root {
  --ColorEncabezado: #2b0a79;
  --ColorFuente: #c3d618;
  --ColorLink: #09bac7;
}

body {
  background-color: var(--ColorFondo);
  /* font-family: sans-serif; */
  padding: 95px 25px 0;
  padding-bottom: 45px;
  }

.header {
  background-color: var(--ColorEncabezado);
  position: fixed;
  height: 120px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  border-bottom: 1px solid var(--ColorFuente);
  
}


/***** nav de cabecera *****/
.nav-cabecera {
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
  margin: 0 auto;
}

/* Contenedor del Logo */
.header .logo img{
  width: auto;
  height: 80px;
   align-content:center;
  transition: all 0.3s;
}

.header .logo img:hover{
  transform: scale(1.3);
}

.logo {
  padding: 20px 50px;
}

.nav-menu {
  display: flex;
  margin-right: 40px; 
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 47px;/*con esto controlo la alineacion vertical!*/
  width: max-content;
  transition: all 0.3s;
  display: flex;
  align-items: center;
}


.nav-menu-link {
  color: var(--ColorFuente);
  text-decoration: none;
  padding: 18px 12px;
  transition: all 0.3s;
}





