@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --ColorEncabezado:#2b0a79 ;
  --ColorFuente: #c3d618;
  --ColorLink: #09bac7  ; 
  --Colortexto:#040505 ;
 --Colorfondo:#a969dd ;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
  }
     

body {
  background-color: var(--Colorfondo);  
  padding: 70px 0; 
 
  }

.header {
  background-color: var(--ColorEncabezado);
  position: fixed;
  height: 120px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  border-bottom: 1px solid var(--ColorFuente);
  
}

.nav-cabecera {
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
  margin: 0 auto;
}
.header .logo img{
  width: auto;
  height: 80px;
   align-content:center;
  transition: all 0.3s;
}

.header .logo img:hover{
  transform: scale(1.3);
}

.logo {
  padding: 20px 50px;
}

.nav-menu {
  display: flex;
  margin-right: 40px; 
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 47px;
  width: max-content;
  transition: all 0.3s;
  display: flex;
  align-items: center;
}


.nav-menu-link {
  color: var(--ColorFuente);
  text-decoration: none;
  padding: 18px 12px;
  transition: all 0.3s;
}
.nav-menu-link:hover {
  color: var(--ColorLink);
  transform: scale(1.5);
  /* transition: 0.5s; */  
  }
  

/*================= Portada ====================*/

#portada {
  color: var(--ColorEncabezado);
  margin-top: 80px;
  max-width: 1200px;
  display: flex;
  justify-content:space-between;
  padding: 60px;
  

}

.portada {
  gap: 20px;
  width: 60%;
}


.portada h1{

  font-size: 48px;
  font-weight: 800px;
  width: 80%;
  min-width: 500px;  
  margin-top: 15px;
}

.portada p{
  font-size: 14px;
  width: 70%;
  color: var(--Colortexto);  
  margin-top: 10px;
  
}


.portada button {
  padding: 5px;
  color: var(--Colortexto);
  display: inline;
  font-size: 15px;
  border-radius: 10px;
  gap: 10px;  
  justify-content: space-between;
  margin-top: 10px;
  text-align: center;
}

.active-btn {
  background-color: var(--ColorLink);
}


.portada-card img {
  width: 600px; 
}
  
/*=================Info====================*/


.info p {
  padding: 60px;
text-align: justify;  
color: (--Colortexto) 
Justify-content: center; 
  }


/*================= Cards ====================*/


#cards {  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}


.cards h2{
  font-size: 2rem;
  font-weight: 800;
}

.cards-container {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}


.info-card{
  background-color: var(--ColorLink);
  color: var(--Colortexto);
  width: 300px;
  height: 290px;
  padding: 40px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px
}

.info-card img{
  width: 50px;
}
.info-card p{
  text-align: center;
  font-size: 14px;
  color: var(--text-gray);
}

.info-card h3{
  font-weight: 600;
  font-size: 18px;
}


/*=================Contacto====================*/

#contacto { 
  display:flex;
  padding: 60px;
  width: 100%;
  justify-content:space-around;
  flex-wrap: wrap;
  gap: 50px;
  background-color:var(--Colorfondo);
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:30px;
}

.contacto-info-container{
display: flex;
gap: 100px;
flex-wrap: wrap;
}

.info-column {
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.info-column h3 {
font-size: 18px;
}
  
.info-column p, .info .info-column a{    
  direction: flex;
  align-items: center;
  gap: 10px;
}

 .info-column a {
  text-decoration: none;
 }

  

  inframe {
    height: 350px;    
    width: 400px; 
   }

        

/*================= Footer====================*/
footer {   
  
  background-color: var(--ColorEncabezado);
  color: var(--ColorFuente);
  text-align: center;
  width: 100%; 
  padding: 20px;
  font-size: 18px;
  }
   
 



