@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --ColorEncabezado:#2b0a79 ;
  --ColorFuente: #c3d618;
  --ColorLink: #09bac7  ; 
  --Colortexto:#040505 ;
 --Colorfondo:#a969dd ;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
  }
     

body {
  background-color: var(--Colorfondo);  
  padding: 95px 25px 0;
  padding-bottom: 45px;
  }

.header {
  background-color: var(--ColorEncabezado);
  position: fixed;
  height: 120px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  border-bottom: 1px solid var(--ColorFuente);
  
}

.nav-cabecera {
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
  margin: 0 auto;
}
.header .logo img{
  width: auto;
  height: 80px;
   align-content:center;
  transition: all 0.3s;
}

.header .logo img:hover{
  transform: scale(1.3);
}

.logo {
  padding: 20px 50px;
}

.nav-menu {
  display: flex;
  margin-right: 40px; 
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 47px;
  width: max-content;
  transition: all 0.3s;
  display: flex;
  align-items: center;
}


.nav-menu-link {
  color: var(--ColorFuente);
  text-decoration: none;
  padding: 18px 12px;
  transition: all 0.3s;
}
.nav-menu-link:hover {
  color: var(--ColorLink);
  transform: scale(1.5);
  /* transition: 0.5s; */  
  }
  

/*================= portada ====================*/

#portada {
  margin-top: 80px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}

.portada {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 50%;
}


.portada h1{
  font-size: 48px;
  font-weight: 800px;
  width: 80%;
  min-width: 500px;  
}

.portada p{
  font-size: 14px;
  width: 70%;
  color: var(--Colortexto);
}


.portada a {
  color: var(--Colortexto);
  background-color: var(--ColorEncabezado);
  width: 120px;
  padding: 8px 0;
  text-align: center;
  border-radius: 8px;
  font-size: 14px;
}

.portada-card img {
  width: 600px;
 
}
  
/*================= INFO ====================*/


#info p {
background-color: 
  var(--ColorEncabezado);
    display: flex;
    flex-direction: ;
    align-items: center;
    text-align: justify;
    justify-content: center;
    width: 100%;
    color: (--Colortexto) 
  }



